html {
  background:#222;
  color: #ccc;
  font-family: Helvetica, Verdana, sans-serif;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#222));  
  background: -moz-linear-gradient(top, #000, #222);
}

#header p {
  color: #ccc;
}

#header a {
  color: #ccc;
}

a {
  text-decoration:none;
  color: #888;
}

h1 {
  color: #ccc;
  padding:5px;
  font-size:3em;
  font-weight: bold;
  text-shadow: 3px 3px 3px #669;;
}

#new_tweet_notification:hover {
  cursor: pointer;
}

.clickable {
  color: #c0c000;
}

.explanation {
  font-size: .5em;
  text-decoration: none;
}

.hidden {
  display: none;
}

strong {
  font-weight:bold;
}

#switch, #form {
  color: white;
  float: left;
  margin-left: 5px;
}

#tweets li {
  border: 2px solid #181818;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background:#aac;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
  background: -moz-linear-gradient(top, #000, #333);
  
  margin:5px;
  padding:5px;
}

#tweets li.reply {
  background:#336;
}

#tweets a.search {
  float:right;
  font-size:0.8em;
  color: #77b;
}

#tweets h3 {
  font-weight:bold;
}

#tweets p {
  margin-bottom:3px;
}

#tweets h3 a {
  color:#888;
}

#tweets img.profile {
  float:left;
  padding-right:5px;
  width:36px;
  height:36px;
}

br.clear {
  clear:both;
  height:1px;
}

#tweets .created_at {
  float:right;
  font-size:0.8em;
  color:#777;
}
#tweets .created_at a {
  color: #77b;
}


#tweets {
  margin-bottom:105px;
}

#attribution {
  text-align: right;
  margin-right: 10px;
}

.newtweet { display:none;}